.b-page {
	margin: 0;
    padding: 0;
	background: #f8f8f8;
	text-align: justify;
}

.b-header {
	color: #f8f8f8;
}

.b-logo {
}
.b-logo--small {
	width: 40px;
	height: 40px;
}

.b-link {
	display: inline-block;
	font-size: 14pt;
	color: #fff200;
}

.b-link__registration {
	height: 47px; line-height: 47px;
	margin: 75px 0 0; padding: 0 48px;
	background: none 0% 50% repeat rgb(255, 242, 0);
	color: rgb(18, 16, 18);
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 30px;
	border: 0px solid rgb(224, 224, 16);
	letter-spacing: .1rem;
}

.b-page__header {
	background: #26370A url("../assets/images/header.jpg") center top no-repeat;
	background-size: cover;
	min-height: 725px;
}

.b-page__section {
	padding: 50px 0;
}

.b-page__section--grey{
	background: url("../assets/images/grey.jpg") center top no-repeat;
	background-size: cover;
}

.b-page__footer {
	background: url("../assets/images/footer.jpg") center top no-repeat;
	background-size: cover;
	min-height: 280px;
	padding: 50px 0;
}

.u-battle-information {
	padding-top: 115px;
	text-align: center;
}
.u-battle-information__gifts-link {
	font-size: 17pt;
}

.u-battle-registration {
	padding-top: 233px;
}

.u-battle-feedbacks {
}
.u-battle-feedbacks__item {
	font-style: italic;
}

.u-battle-gifts {
	background: url("../assets/images/present.jpg") center top no-repeat;
	background-size: cover;
}
.u-battle-gifts__description {
	text-align: left;
}
