doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    block title
      title juja.com.ua

    meta(name="description", content="")
    meta(name="author", content="")

    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="../assets/images/favicon.ico")

    block styles

  body.b-page
    block body
    block scripts
